.amount {
    text-align: center;
}

.data-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
  }