.amount {
  text-align: center;
}

.data-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  color: #ddd;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.delete-button {
  color: rgb(255, 0, 0);
  cursor: pointer;
  border: 1px solid #000000;
  margin-top: 2px;
}

.entry-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.entry-amount {
  flex-grow: 1;
  gap: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */
}

th {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

  
  